<section class="report">
    <span class="report-id">{{id}}</span>
    <span class="report-timestamp">{{time_stamp}}</span>
    <span class="report-reason">{{reason}}</span>
    <span class="report-post-id"><a href="{{post_uri}}">#{{post}}</a></span>
</section>
