<tr>
    <td class="report-id">{{id}}</td>
    <td class="report-timestamp">{{time_stamp}}</td>
    <td class="report-reason">{{reason}}</td>
    <td class="report-post-id"><a href="{{post_uri}}">#{{post_id}}</a></td>
</tr>
