<section class="catalog-item">
    <a href="{{thread.uri}}"><img src="{{first_post.file.thumb_uri}}"></a>
    <section class="item-stats">
        <span>Posts: {{thread.post_count}}</span>
        <span>Files: {{thread.file_count}}</span>
    </section>
    {{#with thread}}
        {{> models/thread-subject}}
    {{/with}}
    <section class="body-contents">
        {{{first_post.body}}}
    </section>
</section>
