<section class="catalog-item">
    <a href="{{thread_uri}}"><img src="{{thumb_uri}}"></a>
    <section class="item-stats">
        <span>Posts: {{num_posts}}</span>
        <span>Files: {{num_files}}</span>
    </section>
    {{> models/thread-subject}}
    <section class="body-contents">
        {{{body}}}
    </section>
</section>
