<section class="post" id="{{id}}">
    <header class="post-info">
        <span class="post-author">
            {{#if author_contact}}
                <a href="mailto:{{author_contact}}">{{author_name}}</a>
            {{else}}
                {{author_name}}
            {{/if}}
        </span>
        {{#if author_ident}}
            <span class="post-ident" title="{{author_ident}}">
                #{{author_ident}}
            </span>
        {{/if}}
        <span class="post-timestamp">{{time_stamp}}</span>
        <span class="post-id"><a href="{{uri}}">#{{id}}</a></span>
    </header>
    <article class="body">
        {{#with file}}
            {{> models/file}}
        {{/with}}
        <section class="body-contents">
            {{{body}}}
        </section>
    </article>
    {{#unless hide_actions}}
        <footer class="actions">
            {{#if @root.staff}}
                <form class="post-action" method="POST">
                    <label for="reason">Reason</label>
                    <input type="text" name="reason">

                    {{#if @first}}
                        {{#unless ../pinned}}
                            <input type="submit" value="Pin"
                                                 formaction="{{pin_uri}}">
                        {{else}}
                            <input type="submit" value="Unpin"
                                                 formaction="{{unpin_uri}}">
                        {{/unless}}
                        {{#unless ../locked}}
                            <input type="submit" value="Lock"
                                                 formaction="{{lock_uri}}">
                        {{else}}
                            <input type="submit" value="Unock"
                                                 formaction="{{unlock_uri}}">
                        {{/unless}}
                    {{/if}}

                    <input type="submit" value="Delete"
                                         formaction="{{staff_delete_uri}}">
                </form>
            {{else}}
                <a class="post-action action-report"
                   href="{{report_uri}}">Report</a>
                <a class="post-action action-delete"
                   href="{{delete_uri}}">Delete</a>
            {{/if}}
        </footer>
    {{/unless}}
</section>
