<section class="post" id="{{id}}">
    <header class="post-info">
        <span class="post-author">{{author_name}}</span>
        {{#if author_contact}}
            <span class="post-contact">{{author_contact}}</span>
        {{/if}}
        {{#if author_ident}}
            <span class="post-ident" title="{{author_ident}}">
                #{{author_ident}}
            </span>
        {{/if}}
        <span class="post-timestamp">{{time_stamp}}</span>
        <span class="post-id"><a href="{{uri}}">#{{id}}</a></span>
    </header>
    <article class="body">
        {{#with file}}
            {{> models/file}}
        {{/with}}
        <section class="body-contents">
            {{{body}}}
        </section>
    </article>
    {{#unless hide_actions}}
        <footer class="actions">
            {{#if @root.is_staff}}
                {{#if @first}}
                    {{#unless ../pinned}}
                        <form class="post-action" method="POST"
                              action="{{pin_uri}}">
                            <input type="hidden" name="id" value="{{id}}">
                            <input type="submit" value="Pin">
                        </form>
                    {{else}}
                        <form class="post-action" method="POST"
                              action="{{unpin_uri}}">
                            <input type="hidden" name="id" value="{{id}}">
                            <input type="submit" value="Unpin">
                        </form>
                    {{/unless}}

                    {{#unless ../locked}}
                        <form class="post-action" method="POST"
                              action="{{lock_uri}}">
                            <input type="hidden" name="id" value="{{id}}">
                            <input type="submit" value="Lock">
                        </form>
                    {{else}}
                        <form class="post-action" method="POST"
                              action="{{unlock_uri}}">
                            <input type="hidden" name="id" value="{{id}}">
                            <input type="submit" value="Unock">
                        </form>
                    {{/unless}}
                {{/if}}

                <form class="post-action" method="POST"
                      action="{{staff_delete_uri}}">
                    <input type="hidden" name="id" value="{{id}}">
                    <input type="submit" value="Delete">
                </form>
            {{/if}}

            {{#unless @root.is_staff}}
                <a class="post-action action-report"
                   href="{{report_uri}}">Report</a>
                <a class="post-action action-delete"
                   href="{{delete_uri}}">Delete</a>
            {{/unless}}
        </footer>
    {{/unless}}
</section>
