<section class="file-preview">
    <span class="post-author">{{post.author_name}}</span>
    <span class="post-id"><a href="{{post.uri}}">
        &gt;&gt;/{{post.board_name}}/{{post.id}}
    </a></span>
    <img class="post-image" src="{{file.thumb_uri}}">
</section>
