<section class="post-preview" id="{{id}}">
    <span class="post-author">{{author_name}}</span>
    <span class="post-id"><a href="{{uri}}">&gt;&gt;/{{board_name}}/{{id}}</a></span>
    <article class="body">
        {{{body}}}
    </article>
</section>
