<section class="post" id="{{id}}">
    <header class="post-info">
        {{#if post.author_ident}}
            <span class="post-ident" title="{{author_ident}}">
                #{{post.author_ident}}
            </span>
        {{/if}}
        <span class="post-author">{{post.author_name}}</span>
        {{#if post.author_contact}}
            <span class="post-contact">{{post.author_contact}}</span>
        {{/if}}
        <span class="post-timestamp">{{post.time_stamp}}</span>
        <span class="post-id"><a href="#{{id}}">#{{id}}</a></span>
    </header>
    <article>
        <img src="{{file_src}}">
        <p>
            {{post.body}}
        </p>
    </article>
    {{#each files}}
        <a href="/upload/{{save_name}}">{{orig_name}}</a>
    {{/each}}
</section>
