{{#unless is_spoiler}}
    <section class="post-image" data-uri="{{uri}}" data-thumb-uri="{{thumb_uri}}">
        <a href="{{uri}}" title="{{orig_name}}">{{orig_name}}</a>
        <img src="{{thumb_uri}}">
    </section>
{{/unless}}
{{#if is_spoiler}}
    <section class="post-image spoiler" data-uri="{{uri}}" data-thumb-uri="{{thumb_uri}}">
        <a href="{{uri}}" title="{{orig_name}}">{{orig_name}}</a>
        <img src="/file/spoiler.png">
    </section>
{{/if}}
