<section class="post-preview" id="{{id}}">
    <span class="post-author">{{author_name}}</span>
    <a href="{{uri}}">&gt;&gt;/{{board_name}}/{{id}}</a>
    <article class="body">
        {{{body}}}
    </article>
</section>
