{{#*inline "content"}}
    <header class="overview-header">
        <h1>Dashboard</h1>
        <section class="login-actions">
            <span class="staff-name">Logged in as {{staff.name}}.</span>
            <span class="staff-logout"><a href="/staff/logout">Logout</a></span>
        </section>
    </header>
    <section class="overview-item reports">
        <h1>Reports</h1>
        <section class="report-table">
            <span class="table-header">ID</span>
            <span class="table-header">Timestamp</span>
            <span class="table-header">Reason</span>
            <span class="table-header">Post</span>
            {{#each reports}}
                <span class="report-id">{{id}}</span>
                <span class="report-timestamp">{{time_stamp}}</span>
                <span class="report-reason">{{reason}}</span>
                <span class="report-post-id">
                    <a href="{{post_uri}}">#{{post_id}}</a>
                </span>
            {{/each}}
        </section>
        <form action="/staff/close-report" method="POST">
            <h2>Close Report</h2>
            <label class="row-2" for="id">Report ID</label>
            <input class="row-2" name="id" type="number">
            <input class="row-2" value="Close" type="submit">
        </form>
    </section>
    <section class="overview-item boards">
        <h1>Boards</h1>
        <section class="board-table">
            <span class="table-header">Name</span>
            <span class="table-header">Description</span>
            {{#each boards}}
                <span class="board-name">{{name}}</span>
                <span class="board-description">{{description}}</span>
            {{/each}}
        </section>
        <form action="/staff/create-board" method="POST">
            <h2>Create Board</h2>
            <label class="row-2" for="name">Name</label>
            <input class="row-2" name="name" type="text">
            <label class="row-3" for="description">Description</label>
            <input class="row-3" name="description" type="text">
            <input class="row-3" value="Create" type="submit">
        </form>
        <form action="/staff/edit-board" method="POST">
            <h2>Edit Board</h2>
            <label class="row-2" for="name">Name</label>
            <input class="row-2" name="name" type="text">
            <label class="row-3" for="description">New Description</label>
            <input class="row-3" name="description" type="text">
            <input class="row-3" value="Edit" type="submit">
        </form>
        <form action="/staff/delete-board" method="POST">
            <h2>Delete Board</h2>
            <label class="row-2" for="name">Name</label>
            <input class="row-2" name="name" type="text">
            <input class="row-2" value="Delete" type="submit">
        </form>
    </section>
    <section class="overview-item users">
        <h1>Users</h1>
        <section class="user-table">
            <span class="table-header">ID</span>
            <span class="table-header">Hash</span>
            <span class="table-header">Is Banned?</span>
            <span class="table-header">Ban Expires</span>
            {{#each users}}
                <span>{{id}}</span>
                <span title="{{hash}}">{{hash}}</span>
                <span>
                    {{#if ban_expires}}
                        Yes
                    {{/if}}
                    {{#unless ban_expires}}
                        No
                    {{/unless}}
                </span>
                <span>{{ban_expires}}</span>
                {{#if note}}
                    <span class="user-note">Note: {{note}}</span>
                {{/if}}
            {{/each}}
        </section>
        <form action="/staff/ban-user/" method="POST">
            <h2>Ban User</h2>
            <label class="row-2" for="id">User ID</label>
            <input class="row-2" type="number" name="id">
            <label class="row-3" for="duration">Duration</label>
            <input class="row-3" type="datetime" name="duration">
            <input class="row-3" type="submit" value="Ban">
        </form>
        <form action="/staff/add-note/" method="POST">
            <h2>Add Note</h2>
            <label class="row-2" for="id">User ID</label>
            <input class="row-2" type="number" name="id">
            <label class="row-3" for="note">Note</label>
            <input class="row-3" type="text" name="note">
            <input class="row-3" type="submit" value="Add">
        </form>
        <form action="/staff/remove-note/" method="POST">
            <h2>Remove Note</h2>
            <label class="row-2" for="id">User ID</label>
            <input class="row-2" type="number" name="id">
            <input class="row-2" type="submit" value="Remove">
        </form>
        <form action="/staff/delete-posts-for-user/" method="POST">
            <h2>Delete All Posts</h2>
            <label class="row-2" for="id">User ID</label>
            <input class="row-2" type="number" name="id">
            <input class="row-2" type="submit" value="Delete All">
        </form>
    </section>
{{/inline}}
{{> pages/staff/staff page_class="staff-overview-page"}}
